<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279283233775-43u457dhj54njk939qnh3dococh365fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279283233775-43u457dhj54njk939qnh3dococh365fb</string>
	<key>API_KEY</key>
	<string>AIzaSyCHq39tcz2WRYsRbL1BdOoRaVrpKmSIwfo</string>
	<key>GCM_SENDER_ID</key>
	<string>279283233775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Junior.myage2</string>
	<key>PROJECT_ID</key>
	<string>swift-fd5df</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-fd5df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279283233775:ios:647b30796abd8eb0c2fc1a</string>
</dict>
</plist>